<!doctype html>
<html>
    <head>
        <title>Create form</title>
        <link rel = "stylesheet" href = "{{url_for('static',filename = 'style2.css')}}">
    </head>
    <body>
        <div class = "container">
            <div class = "form-box">
                <h2>Create New Form</h2>
                <form method = "POST">
                    <div class = "input-group">
                        <input type = "text" name = "title" placeholder = "Enter form title" required><br><br>
                    </div>   
                        <button type = "submit" class = "create-btn">Create</button>
                   
                </form>
            </div>
        </div>
    </body>
</html>