<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <link rel = "stylesheet" href = "{{url_for('static',filename='style.css')}} ">
    </head>
    <body>
        <div class = "form-container">
        <h2>Login</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div style = "color : red;text-align :center;margin-bottom:10px";>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif%}
        {% endwith %}
        <form method = "POST" >
            <input type = "email" name = "email" placeholder = "Email" required>
            <div class = "input-wrapper">
                <input type = "password" name = "password" id = "password" placeholder = "Password" required>
                <span class = "eye" onclick = "togglepassword()">👁️</span>
            </div>
            <button type = "submit">login</button>
            <p>Dont have an account ? <a href = "/register">register</a></p>
        </form>
    </div>
    <script>
        function togglepassword()
        {
            var pass = document.getElementById("password");
            if(pass.type === "password")
            {
                pass.type = "text";
            }
            else
                pass.type = "password";
        }
    </script>
    </body>
</html>